body {
  background-image: url("https://wallpaper.dog/large/17077813.jpg");
  
}

#new-student-form {
  display: none;
}

.card-body {
  text-align: center;
  margin: auto;
}

.card-title {
  padding: 15px;
}

.col h3 {
  text-align: center;
  padding: 20px;
}

.img-container {
  background-size: cover;
  background-position: center;
  width: 200px;
  height: 220px;
  position: relative;
  overflow: hidden;
  margin: auto;
}

.img-container-2 {
  background-size: cover;
  background-position: center;
  width: 400px;
  height: 220px;
  position: relative;
  overflow: hidden;
  margin: auto;
}

.jumbotron {
  background-size: cover;
  background-position: center;
  background-color: white;
  border: 10px solid rgb(137,0,0);
  border-top: 0px;
  border-radius: 0px;
}
